    .role-field {
    width: 100%;
    margin-bottom: 15px;
  }

  .edit-form {
    max-width: 215px;
    margin: 0 auto;
    margin-top: 30vh;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }