<form [formGroup]="editForm" (ngSubmit)="updateRole()" class="edit-form">
  <div *ngIf="association" formArrayName="newRoles">
    <div
      *ngFor="let role of newRoles!.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field class="role-field" appearance="outline">
        <mat-label>Rôle de {{ idToUser(role.value.userId)?.name }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="role"
          placeholder="Rôle"
          required
        />
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">Update Role</button>
  </div>
</form>
