<div class="profileContainer">
  <mat-card *ngIf="user" class="userProfileCard">
    <mat-card-header>
      <mat-card-title>Profile : </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p><b>Nom:</b> {{ user.lastname }}</p>
        <p><b>Prénom:</b> {{ user.firstname }}</p>
        <p><b>Age:</b> {{ user.age }}</p>
      </div>

      <table mat-table [dataSource]="roles">
        <ng-container matColumnDef="association">
          <th mat-header-cell *matHeaderCellDef>Association</th>
          <td mat-cell *matCellDef="let role">{{ role.associationName }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Roles</th>
          <td mat-cell *matCellDef="let role">{{ role.role }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
